/* 2000s Anime Website */

body {
  background-color: rgb(254, 234, 201);
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: rgb(253, 121, 121);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(253, 121, 121);
}

h3 {
  margin: 10px 0;
}

textarea {
  background-color: rgb(255, 205, 201);
  border: 1px solid rgb(253, 121, 121);
  color: rgb(253, 121, 121);
  font-size: 14px;
}

button {
  background-color: rgb(253, 121, 121);
  border: 1px solid  rgb(253, 121, 121);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

button:active {
  background-color: rgb(255, 205, 201);
  color: rgb(253, 121, 121);
}

#currentScreen {
  background-color: rgb(255, 205, 201);
  border: 1px solid rgb(253, 121, 121);
  width: 400px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.hidden {
  display: none;
}

hr {
  border: none;
  border-top: 1px solid rgb(253, 121, 121);
}

img {
  width: 300px;
  height: auto;
  border: 1px solid rgb(253, 121, 121);
  margin-bottom: 10px;
}
